
.custom-card {
    width: 75rem;
    padding: 1vh 2vw;
    margin: 1rem;
    background-color: #45ACEC ;
    color: white;
    text-align: center;
 
  }



 .card-headers {
  color: pink;
  background-color: ;
  
 }

 .card-text-size{
  font-size: 20px;
 }
 .form-1{
  background-color: #45ACEC ;
  color: white;
 }

 .form-2{
   background-color: pink;
   color: white;
 }